<!-- home.component.html -->
<div class="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-center">Bienvenido a la Plataforma</h1>
          <p class="lead text-center">En esta página puedes encontrar las siguientes opciones:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-book"></i> Guías</h5>
              <p class="card-text">Aquí puedes ver las guías que te ayudarán a usar la aplicación.</p>
              <a routerLink="/guias" class="btn btn-primary">Ver guías</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-credit-card"></i> Pagos</h5>
              <p class="card-text">Aquí puedes realizar los pagos de tus facturas.</p>
              <a routerLink="/homepagos" class="btn btn-primary">Realizar pagos</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-file"></i> Facturas</h5>
              <p class="card-text">Aquí puedes consultar el estado de tus facturas.</p>
              <a routerLink="/Facturas" class="btn btn-primary">Consultar facturas</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  