<h1>Listado de Guías</h1>
<hr />

<div class="row">
  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
    <button class="btn btn-success" routerLink="/guia/nuevo">
      <i class="bi bi-plus-circle"></i> Agregar Nueva Guía
    </button>
  </div>
</div>
<table *ngIf="!cargando" class="table mt-2 animated fadeIn faster">
  <thead class="">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Número guía</th>
      <th scope="col">Fecha envio</th>
      <th scope="col">País Origen</th>
      <th scope="col">Nombre remitente</th>
      <th scope="col">Dirección remitente</th>
      <th scope="col">Teléfono remitente</th>
      <th scope="col">Email Remitente</th>
      <th scope="col">Pais Destino</th>
      <th scope="col">Nombre Destinatario</th>
      <th scope="col">Dirección Destinatario</th>
      <th scope="col">Teléfono Destinatario</th>
      <th scope="col">Email Destinatario</th>
      <th scope="col">Total</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let guia of guias; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ guia.numero_guia }}</td>
      <td>{{ guia.fecha_envio }}</td>
      <td>{{ guia.pais_origen }}</td>
      <td>{{ guia.nombre_remitente }}</td>
      <td>{{ guia.direccion_remitente }}</td>
      <td>{{ guia.telefono_remitente }}</td>
      <td>{{ guia.email_remitente }}</td>
      <td>{{ guia.pais_destino }}</td>
      <td>{{ guia.nombre_destinatario }}</td>
      <td>{{ guia.direccion_destinatario }}</td>
      <td>{{ guia.telefono_destinatario }}</td>
      <td>{{ guia.email_destinatario }}</td>
      <td>{{ guia.total }}</td>
      <td>
        <button class="button1 rm-1" [routerLink]="['/guia', guia.guia_id]">
          <i class="fa fa-pen"></i>
        </button>
        <button class="button2" (click)="EliminarGuia(guia, i)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div
  *ngIf="!cargando && guias.length === 0"
  class="alert alert-warning text-center mt3 animated fadeIn faster"
>
  <h4 class="alert-heading">No hay registros</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>

<div
  *ngIf="cargando"
  class="alert alert-info text-center mt3 animated fadeIn faster"
>
  <h4 class="alert-heading">Cargando</h4>
  <p>
    <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p>
  <p class="mb-0">Espere por favor</p>
</div>
